{*
	margin:0;
	padding:0;
}
body{}
header { background:lightblue;
    
        box-shadow:0 0 10px lightblue;
         }
img {max-width:100%;}
nav {}
nav ul{display:flex; flex-wrap:wrap; justify-content: center; align-items: center;}
nav ul li{list-style: none;}
nav ul li a {text-decoration: none;
display:block;
padding:10px 15px;
color:black;
font-size:20px;
}

nav ul li a:hover{color:red;
}
ul > :first-child {
  background:white;
}

.formSection{
padding:70px 0;
background-image: url(../images/background.jpg);
background-size:contain;
background-repeat:no-repeat;
background-position: center;
background-color: #ffffff73;
background-blend-mode: saturation;
}
.formbox{
width:700px;
margin:auto;
text-align: center;

}
h1{
	font-size: 35px;
	color:#47bbe0;
}
p{
	font-size:18px;
}

form {
	margin-top: 30px;
	text-align: left;

}

input[type=text],input[type=email],input[type=password] {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 15px;
  color:#47bbe0;
  font-size: 18px;
}





label
 {
   font-size: 24px;
   margin-right: 20px; 



}


span
{

	display: block;
	font-style:italic;
	font-size:14px;
}


b {
	display: block;
	font-size: 20px;
	margin-top: 20px;
	color:#5d5d61;
}

input [type="file"]
{
	margin-bottom:0;
}





input[type=submit] 
{
  width: 100%;
  background-color:#47bbe0;
  color: white;
  padding: 14px 20px;
  margin-top: 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}





input[type="submit"]:hover
{
	background: transparent;
	color:#47bbe0;
}
..placeholder{color: lightblue;}
..selection {background: lightblue;}




table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}